@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
  font-family: 'atari_classicchunky';
  src: 
  url("atari_font.woff2") format("woff2"), 
  url("atari_font.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: 'atari_classicchunky' !important;
  /* text-align: center; */
  background-color: antiquewhite !important;
  height: 100%;
} 
.nes-input {
  border-width: 2px !important;
}

.nes-btn {
  border-image-slice: 1.5 !important;
  border-image-width: 1 !important;
  border-image-outset: 1 !important;
}

.nes-btn.smaller-btn {
  padding: 2px;
}

